body {
  font-family: 'MaiandraGD', system-ui, sans-serif;
}

main {
  background-color: #00617813;
}

h1, h2 {
  padding-top: 32px;
  color: #e50051;
}

h3, h4, p {
  padding-top: 16px;
}

/* Links */
a {
  color: #008066;
}
a:visited {
  color: #005e4b;
}
